/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*------------------------------------------------------------------------------------------*/

/* Style pour le header */
header {
    background-color: #1a1a1a; 
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
}

header h1 {
    font-family: 'Georgia', serif; 
    font-size: 2.5em;
    color: #f4e3b2; 
    margin: 0;
    text-transform: uppercase;
}

header h1 a {
    text-decoration: none;
    color: inherit; 
    font-weight: bold;
    transition: color 0.3s ease;
}

header h1 a:hover {
    color: #f1d24f; 
}

/*------------------------------------------------------------------------------------------*/
/* Style pour la barre de navigation */
nav {
    margin-top: 20px;
}

nav a {
    font-family: 'Georgia', serif; 
    color: #b5b5b5; 
    font-size: 1.1em;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #444; 
    color: #f1f1f1; 
}


nav a.active {
    background-color: #2a2a2a; 
    color: #f1d24f; 
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2em; 
    }

    nav {
        text-align: center;
    }

    nav a {
        display: inline-block;
        margin: 10px 0;
    }
}


/*------------------------------------------------------------------------------------------*/

/* Style pour le footer */
footer {
    background-color: #1a1a1a; 
    color: #b5b5b5;
    padding: 20px 0;
    text-align: center;
    font-family: 'Merriweather', serif; 
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.5); 
}

footer p {
    font-size: 1em;
    margin: 0;
    color: #ccc; 
}

/*------------------------------------------------------------------------------------------*/
/* 
style général, toutes les pages
*/
html, body {
    height: 100%;
}

body {
    font-family: 'Georgia', serif; 
    color: #f1f1f1; 
    background-color: #1a1a1a; 

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
}

main {
    flex: 1; 
    padding: 30px 20px;
    background-color: #2a2a2a; 
    border-top: 1px solid #444; 
    border-bottom: 1px solid #444;
}

h1, h2 {
    color: #f1d24f; 
    font-family: 'Georgia', serif; 
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

h2 {
    color: #b5b5b5; 
    font-size: 1.8em;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
}

.button-accueil button {
    background-color: #f1d24f; 
    color: #333;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.button-accueil button:hover {
    background-color: #d1b133; 
    transform: translateY(-2px); 
}

.button-accueil button a {
    text-decoration: none;
    color: inherit;
}



/*------------------------------------------------------------------------------------------*/
/*style pour le footer*/
footer {
    background-color: #1a1a1a; 
    color: #b5b5b5; 
    padding: 20px 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    border-top: 1px solid #444; 
}

footer p {
    font-size: 1.1em;
    color: #ccc; 
    margin: 0;
}

/*------------------------------------------------------------------------------------------*/
/*style pour la page de suppresion de compte*/
.info-compte {
    text-align: center;  
    font-size: 1.2em; 
    color: #f1f1f1; 
}

.info-compte p {
    margin: 10px 0;  
    font-size: 1.2em;
    color: #f1f1f1;
    margin-bottom: 10px;
}

/*supp le style des autres formulaire*/
#form-info-compte {
    padding: 0;
    box-shadow: none; 
    border: none;
    text-align: center;  
}

/*btn supp du compte*/
.btn-supp {
    background-color: #c9302c;
    color: white;
    padding: 10px 15px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/*survol btn supp compte*/
.btn-supp:hover {
    background-color: #ac2925;
}




a {
    color: inherit; /* Retirer la couleur de lien par défaut */
    text-decoration: none;
}

/*------------------------------------------------------------------------------------------*/
/*css pour les cartes des infos perso*/

.flip-card-container {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne */
    gap: 20px; /* Espacement entre les cartes */
    justify-content: center; /* Centrer les cartes sur chaque ligne */
    padding: 20px; /* Optionnel : espacement autour du conteneur */
}


/* Flip card */
.flip-card {
    background-color: transparent;
    width: 300px; /* Fixed width */
    height: 400px; /* Adjust the height to include the image and name */
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Flip card inner */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Hover effect */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Front and back of the card */
.flip-card-front, .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
}
/* Front styling */
.flip-card-front img {
    width: 100%; /* Ensures the image fits the card */
    height: auto; /* Maintains aspect ratio */
    border-bottom: 1% solid #ccc; /* Optional: Adds a separator between image and name */
}

.flip-card-front h1 {
    margin-top: 10px;
    font-size: 1.2em;
    color: black;
}

/* Back styling */
.flip-card-back {
    background-color: #1e1e1e; /* Noir profond */
    background: linear-gradient(145deg, #1e1e1e, #2b2b2b); /* Dégradé subtil */
    color: white;
    transform: rotateY(180deg);
    padding: 20px;
    box-sizing: border-box;
}


.flip-card-back p {
    margin: 5px 0;
    font-size: 1em;
}

/*------------------------------------------------------------------------------------------*/

/* Style pour les formulaire */
form {
    background-color: #2a2a2a; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    max-width: 600px;
    margin: 30px auto;
    font-family: 'Georgia', serif; 
    border: 1px solid #444; 
}

label {
    font-size: 1.2em;
    color: #f1f1f1; 
    font-weight: bold; 
}

input[type="text"],
input[type="password"],
input[type="email"],
select, 
textarea {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    border-radius: 6px;
    border: 1px solid #555; 
    background-color: #333; 
    color: #f1f1f1;
    margin-bottom: 6%; 
    margin-top: 2%; 
    box-sizing: border-box;
}

textarea {
    height: 120px;
    resize: vertical;
}

/* Style pour les boutons */
.form-btn {
    background-color: #6b3f27; 
    color: #f1f1f1; 
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    width: 100%;
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

.form-btn:hover {
    background-color: #8e5c3a; 
    transform: translateY(-2px);
}

.form-btn:active {
    transform: translateY(0);
}


/*------------------------------------------------------------------------------------------*/
/*style pour le carousel
issue de W3School*/


* {box-sizing: border-box}
.mySlides {
    display: none;
    padding-top: 1%;
    padding-bottom: 3%;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
